<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Cache" content="no-cache" />
    <title></title>
    <link href="../static/css/theme.css" rel="stylesheet" />
    <link href="../static/js/utils/pagination/jquery.pagination.css" rel="stylesheet" />
    <link href="../static/template/search/css/search.css" rel="stylesheet" />
    <link href="../static/template/search/css/search_style.css" rel="stylesheet" />
    <!-- 自定义 -->
    <link href="../static/css/search.css" rel="stylesheet" />
  </head>
  <body class="blue full bodybgblue1">
    <div id="app" v-cloak="">
      <div class="main_current">
        <div class="s_home cc">
          <div class="new_topbar_wrap">
            <div class="new_topbar">
              <div class="cc">
                <ul class="new_topbar_right" style=" float:left;">
                  <li class="noborder"><a href="./index.html">首页</a></li>
                  <li><a href="./addpost.html" rel="nofollow">发布主题</a></li>
                  <li><a href="./mypost.html" rel="nofollow">编辑主题</a></li>
                </ul>
                <span class="fr" style="padding-top:7px;"> </span>
                <span class="new_topbar_left fr"><a href="./mine.html">个人中心</a></span>
              </div>
            </div>
          </div>
          <div class="cc"></div>
          <div class="s_logo">
            <div class="logo">
              <a href="./index.html"> <img :src="webName.logo" style="margin: 10px 0 0 0px;float: left;width: 320px;" />
              </a>
            </div>
            <div class="s_info">
              <div class="s_ulA">
                <ul>
                  <li name="s8" class="current"><a>主题</a></li>
                  <!-- <li name="s8"><a>商家</a></li>
                    <li name="s8"><a>优惠券</a></li>
                    <li name="s8"><a>团购</a></li>
                    <li name="s8"><a>资讯</a></li>
                    <li name="s8"><a>商品</a></li> -->
                </ul>
              </div>
              <div class="s_enter cc">
                <input placeholder="请输入关键字" v-model="keywords" class="s_input" type="text" @keyup.enter="search" />
                <button class="s_btn" @click="search">搜 索</button>
              </div>
            </div>
          </div>
          <div class="main2 cc" id="mainbox">
            <div class="h">
              <span class="fr"><!-- 搜索<span class="s1">{{keyOld}}</span> -->共有{{total}}条主题结果 </span>
              <span class="mr20"><a href="./search.html">{{webName.title}}</a> &raquo; 主题</span>
              <!-- <span class="s6">小提示：多个词用空格分隔，搜索的更准！</span> -->
            </div>
            <div class="content fl">
              <!-- 列表 -->
              <div class="s_dlA" v-show="isShow && list.length">
                <div class="searchpagelist">
                  <ul>
                    <li style="height:85px" v-for="(item,i) in list" :key="item.id">
                      <h3>
                        <a :href="'./information.html?id='+item.id" target="_blank" v-html="setTxtRed(item.title)"></a>
                        <span class="fgreen" style="margin-left:20px; font-size:12px">
                          <a :href="'./category.html?catid='+item.type" target="_blank"
                            v-html="setTxtRed(tags[item.type])"></a>
                        </span>
                        <span class="dateline">
                          [{{item.createTime?.substr(0,16)}}]
                        </span>
                      </h3>
                      <div class="intro">
                        <div class="p nowrap" v-html="setTxtRed(item.content)"></div>
                        <div class="p-b"></div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- 分页 -->
                <div id="pagination" class="pages"></div>
              </div>
              <!-- 没数据 -->
              <div class="s_dlA" v-show="isShow && !list.length">
                <div class="searchpagelist">
                  <ul>
                    <div class="nodata">
                      暂无相关主题！请换个关键字再搜索。
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="sidebar fr">
              <div class="p15 s_boxA">
                <h2>主题筛选</h2>
                <ul class="quicksearch">
                  <dl>
                    <dt>
                      选择分类：
                    </dt>
                    <dd>
                      <select v-model="type">
                        <option :value="item.value" v-for="(item,i) in typeArr" :key="i">{{item.label}}</option>
                      </select>
                    </dd>
                    <dt>
                      发布日期：
                    </dt>
                    <dd>
                      <select v-model="date">
                        <option :value="item.value" v-for="(item,i) in timeArr" :key="i">{{item.label}}</option>
                      </select>
                    </dd>
                    <dt>
                      手机号码：
                    </dt>
                    <dd>
                      <input type="text" v-model="tel" placeholder="请输入" @input="setNumber" maxlength="11"
                        class="searchinput inputbox" @keyup.enter="research('')" />
                    </dd>
                    <dt>
                      关键字：
                    </dt>
                    <dd>
                      <input type="text" class="searchinput inputbox" placeholder="请输入" v-model="keywords2" @keyup.enter="research('')" />
                    </dd>
                    <dt>
                      &nbsp;
                    </dt>
                    <dd>
                      <button class="submit" @click="research('')">搜索</button>
                    </dd>
                  </dl>
                </ul>
              </div>
            </div>
            <div class="c">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
      <!-- 底部菜单 -->
      <!-- <div id="menu-botom"></div> -->
      <script src="../static/js/utils/jquery.min.js"></script>
      <script src="../static/js/utils/vue.min.js"></script>
      <script src="../static/js/utils/layer/layer.js"></script>
      <script src="../static/js/utils/pagination/jquery.pagination.min.js"></script>
      <script src="../static/js/utils/basepc.js"></script>
      <script src="../static/js/utils/api.js"></script>
      <!-- <script src="../static/js/web/nav.js"></script> -->
      <script src="../static/js/web/searchlist.js"></script>
    </div>
  </body>
</html>